<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <link rel = "stylesheet"  href = "/static/css/style.css" />
     
</head>
  <title>Candice</title>
  <body>
    <center>
      <h1>
        Your Personal ChatBot
      </h1>
    </center>
<div class="box"></div>
    <div class="boxed">
      <div>
        <div id="chatbox">
         
          <p class="botText">
            Hi! I'm  your personal ChatBot with RSA encryption
          </p>
        </div>
        <div id="userInput">
          
             <p id="aa"></p>
             
                <h3>Chatbot</h3>
                Your Message
          
                
                <form action = "{{ url_for('addrec') }}" method = "POST">
                   <input type = "text" name = "msg11" id="msg11"/>
                <input type = "submit" value = "submit" /><br>
             </form>
             Response : {{ res}}
          
        </div>
      </div>
    </div>
  </body>
</html>